{% extends 'base.html' %}

{% block style %}

    <style>

        .card {
            transition: background, color 200ms, 200ms; /* For modern browsers */
            background: white;
            color: #0ea0ff;

        }

        .card:hover {
            border-width: 1px 1px 1px 10px;
            background: #0ea0ff;
            color: white !important;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block content %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">

                <div class="project-card-no-image">
                    <h3 style="font-size: 24px;">Select Algorithm To Apply</h3>

                    <div class="row">
                        <div class="col-md-4 my-1">
                            <div class="card">
                                <div class="card-body">
                                    <h3>
                                        TFIDF-Cosine Similarity
                                    </h3>
                                    <a class="stretched-link"
                                       href="{% url 'apply_similarity_algorithm' project.id 'tfidf-cos' %}"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 my-1">
                            <div class="card">
                                <div class="card-body">
                                    <h3>
                                        TFIDF-Euclidean Distance
                                    </h3>
                                    <a class="stretched-link"
                                       href="{% url 'apply_similarity_algorithm' project.id 'tfidf-euc' %}"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 my-1">
                            <div class="card">
                                <div class="card-body">
                                    <h3>
                                        TFIDF-Manhattan Distance
                                    </h3>
                                    <a class="stretched-link"
                                       href="{% url 'apply_similarity_algorithm' project.id 'tfidf-man' %}"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4 my-1">
                            <div class="card">
                                <div class="card-body">
                                    <h3>
                                        Word2Vec-Cosine Similarity
                                    </h3>
                                    <a class="stretched-link"
                                       href="{% url 'apply_similarity_algorithm' project.id 'word2vec-cos' %}"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 my-1">
                            <div class="card">
                                <div class="card-body">
                                    <h3>
                                        Word2Vec-Euclidean Distance
                                    </h3>
                                    <a class="stretched-link"
                                       href="{% url 'apply_similarity_algorithm' project.id 'word2vec-euc' %}"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 my-1">
                            <div class="card">
                                <div class="card-body">
                                    <h3>
                                        Word2Vec-Manhattan Distance
                                    </h3>
                                    <a class="stretched-link"
                                       href="{% url 'apply_similarity_algorithm' project.id 'word2vec-man' %}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="project-card-no-image">
                    <h3 style="font-size: 24px;">History of All Algorithms</h3>
                    {% include 'document_similarity/components/history-table.html' %}
                </div>

            </div>
        </section>
    </main>
{% endblock %}




