{% extends 'base.html' %}
{% load index %}

{% block content %}
    <main class="page project-page">
        <div class="container">
            <div class="intro">
                <h1 class="text-center text-uppercase mb-5">{{ algorithm }}: <span
                        class="text-muted">{{ project.title }}</span>
                </h1>
                <div class="float-left ml-1 mb-1">
                    <span class="text-uppercase text-secondary">Total {{ files|length }} documents</span>
                </div>
                {#                <div class="float-right mr-1 mb-1">#}
                {#                        <span class="text-uppercase text-primary">Coherence#}
                {#                            value: {{ coherence_value|make_list|slice:':6'|join:'' }}</span>#}
                {#                </div>#}
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="project-card-no-image">
                        <h3 style="font-size: 24px;">Selected File</h3>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 15%">File name</th>
                                    <th style="width: 98%">Preview (first 200 chars)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% with files|index:selected_document_index as file %}
                                        <td class="text-center h5 align-middle">{{ file }}</td>
                                        <td class="align-middle h6">
                                            {{ file.preview }}
                                        </td>
                                    {% endwith %}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <h3 style="font-size: 24px;">Document Similarity Table</h3>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 15%">File name</th>
                                    <th style="width: 1%">Similarity</th>
                                    <th style="width: 98%">Preview (first 200 chars)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for output in outputs %}
                                    <tr>
                                        <td class="text-center h5 align-middle">{{ files|index:output.0 }}</td>
                                        <td class="align-middle h2 similarity">{{ output.1|make_list|slice:':6'|join:'' }}</td>
                                        <td class="align-middle h6">
                                            {% with files|index:output.0 as file %}
                                                {{ file.preview }}
                                            {% endwith %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            {{ outputs }}

        </div>
        </section>
    </main>
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block script %}

    <script>
        $(".similarity").each(function (index, elem) {
            $(this).css('background-color', LightenDarkenColor("#41EB6F", (0.6 - parseFloat(elem.innerText)) * 100));
            console.log(parseFloat(elem.innerText) * 100)
        });

        function LightenDarkenColor(col, amt) {

            var usePound = false;

            if (col[0] == "#") {
                col = col.slice(1);
                usePound = true;
            }

            var num = parseInt(col, 16);

            var r = (num >> 16) + amt;

            if (r > 255) r = 255;
            else if (r < 0) r = 0;

            var b = ((num >> 8) & 0x00FF) + amt;

            if (b > 255) b = 255;
            else if (b < 0) b = 0;

            var g = (num & 0x0000FF) + amt;

            if (g > 255) g = 255;
            else if (g < 0) g = 0;

            return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16);

        }

    </script>

    <script>
        window.addEventListener('load', function () {

            $('th').click(function () {
                var table = $(this).parents('table').eq(0)
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                this.asc = !this.asc
                if (!this.asc) {
                    rows = rows.reverse()
                }
                for (var i = 0; i < rows.length; i++) {
                    table.append(rows[i])
                }
            })

            function comparer(index) {
                return function (a, b) {
                    var valA = getCellValue(a, index), valB = getCellValue(b, index)
                    return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
                }
            }

            function getCellValue(row, index) {
                return $(row).children('td').eq(index).text()
            }
        })
    </script>
{% endblock %}