{% extends 'base.html' %}

{% block content %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">

                <h1><a href="{% url 'apply_algorithm' pk 'LDA' %}">LDA</a></h1>
                <h1><a href="{% url 'apply_algorithm' pk 'LSA' %}">LSA</a></h1>
                <h1><a href="{% url 'apply_algorithm' pk 'HDP' %}">HDP</a></h1>
                <h1><a href="{% url 'apply_algorithm' pk 'NMF' %}">NMF</a></h1>

            </div>
        </section>
    </main>
{% endblock %}