{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="page">
        <section class="portfolio-block" style="margin-top: 100px">
            <div class="container">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-9">
                            <h1 class="display-4">Bilgi AILab</h1>
                            {#                        <img width="30%" src="https://cdn.dribbble.com/users/917530/screenshots/2879128/givka.gif">#}
                            <p class="lead">
                                We prepared some <strong>Document Similarity</strong> and <strong>Topic
                                Modelling</strong>
                                tools.
                            </p>
                            <hr class="my-4">
                            <p class="lead">
                                You can create project and start using the tools.
                            </p>
                            <a class="btn btn-primary" href="{% url 'all_projects' %}" role="button">Get Started</a>
                            <a class="btn btn-outline-primary " role="button" href="{% url 'all_projects' %}">Documentation</a>
                        </div>
                        <div class="col-md-3">
                            <div class="avatar"
                                 style="height: 100%;background-color: white;border-radius: 5000px;background-origin: content-box;background-position: center;background-repeat: no-repeat;background-image:url('https://cdn.dribbble.com/users/391380/screenshots/5431062/icon.gif');">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </section>
        <div class="container">
            <section class="showcase">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6 order-lg-2 text-white showcase-img"
                             style="background-image:url('../static/img/landing/annie-spratt-5cFwQ-WMcJU-unsplash.jpg');">
                            <span></span></div>
                        <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                            <h2>Topic Modeling</h2>
                            <p class="lead mb-0">
                                Topic modeling is an unsupervised machine learning method which is used for clustering
                                documents via retaining word patterns. It is useful technique to analyze large amounts
                                of data.</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-lg-6 text-white showcase-img"
                             style="background-image:url('../static/img/landing/andrew-pons-6-RhsUzKO6g-unsplash.jpg');">
                            <span></span></div>
                        <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                            <h2>Document Similarity</h2>
                            <p class="lead mb-0">Document similarity is the natural language processing study in which
                                two documents are compared to find the similarity. In this natural language processing
                                process, examining the similarity between words is the most essential part to find the
                                similarity of sentences, texts, documents.</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-lg-6 order-lg-2 text-white showcase-img"
                             style="background: center;background-size: contain;
                             background-image:url('../static/img/landing/graph.png');background-repeat: no-repeat;">
                            <span></span></div>
                        <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                            <h2>Data Visualization</h2>
                            <p class="lead mb-0">
                                Data visualization is the practice of translating information into a visual context,
                                such as a map or graph, to make data easier for the human brain to understand and pull
                                insights from. The main goal of data visualization is to make it easier to identify
                                patterns, trends and outliers in large data sets.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Developer Team</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                            <img class="rounded-circle img-fluid mb-3"
                                 src="{% static 'img/avatars/enes.jpg' %}"/>
                            <h5>Hanefi Enes Gül</h5>
                            <h6>Topic Modeling</h6>
                            <p class="font-weight-light mb-0">&quot;This is fantastic! Thanks so much guys!&quot;</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                            <img class="rounded-circle img-fluid mb-3"
                                 src="{% static 'img/avatars/simge.jpeg' %}"/>
                            <h5>Simge Erek</h5>
                            <h6>Document Similarity</h6>
                            <p class="font-weight-light mb-0">&quot;Bootstrap is amazing. I&#39;ve been using it to
                                create lots of super nice landing pages.&quot;</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                            <img class="rounded-circle img-fluid mb-3"
                                 src="{% static 'img/avatars/ibrahim.jpeg' %}"/>
                            <h5>İbrahim Doğan</h5>
                            <h6>Web Application</h6>
                            <p class="font-weight-light mb-0">&quot;Thanks so much for making these free resources
                                available to us!&quot;</p>
                        </div>
                    </div>
                    <!--<div class="col-lg-4 mx-auto">
                        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                            <img class="rounded-circle img-fluid mb-3"
                                 src="{% static 'img/avatars/ibrahim.jpeg' %}"/>
                            <h5>İbrahim Doğan</h5>
                            <p class="font-weight-light mb-0">&quot;Thanks so much for making these free resources
                                available to us!&quot;</p>
                        </div>
                    </div>-->
                </div>
            </div>
        </section>

        <!--<section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Team</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0">
                                <img style="border-radius: 100%" width="100px" height="100px"
                                     src="{% static 'img/avatars/enes.jpg' %}">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-secondary">Hanefi Enes Gül</h4>
                                <h3 class="card-title">Topic Modeling</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                                    odio, dapibus ac
                                    facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                                    metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0">
                                <img style="border-radius: 100%" width="100px" height="100px"
                                     src="{% static 'img/avatars/simge.jpeg' %}">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-secondary">Simge Erek</h4>
                                <h3 class="card-title">Document Similarity</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                                    odio, dapibus ac
                                    facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                                    metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0">
                                <img style="border-radius: 100%" width="100px" height="100px"
                                     src="{% static 'img/avatars/ibrahim.jpeg' %}">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-secondary">İbrahim Doğan</h4>
                                <h3 class="card-title">Web Application Development</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                                    odio, dapibus ac
                                    facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                                    metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
    </main>
{% endblock %}

{% block style %}
    <style>
        .showcase .showcase-img {
            min-height: 30rem;
            background-size: cover;
        }

        @media (min-width: 768px) {
            .showcase .showcase-text {
                padding: 7rem;
            }
        }

        .showcase .showcase-text {
            padding: 3rem;
        }

        .testimonials {
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        .testimonials .testimonial-item {
            max-width: 18rem;
        }

        .testimonials .testimonial-item img {
            max-width: 12rem;
            box-shadow: 0 5px 5px 0 #adb5bd;
        }
    </style>
{% endblock %}