{% extends 'base.html' %}

{% block content %}

    <main class="page contact-page">
        <section class="portfolio-block cv">
            <div class="container">
                <div class="heading">
                    <h2>Create new Project</h2>
                </div>
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <p>Upload all of your files to create a corpus and research.</p>
                    <div class="form-group"><label class="text-primary" for="name">Project Name</label>
                        <input
                                class="form-control item" required type="text" id="name" name="name"></div>
                    <div class="form-group">
                        <label class="text-primary" for="file-list">
                            File List (allowed files .pdf .txt)
                        </label>
                        <input type="file" id="file-list" class="form-control item" required name="files"
                               accept=".pdf,.txt" multiple></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" role="button">Create
                            Project
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>

{% endblock %}